{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:150|linebreaks }}</p>
            <div class="date">
                {{ post.created }}
                <br />
                posted by {{ post.author }}
                {% if post.comment_set.all %}
                    <br />
                    {% with total_comments=post.comment_set.count %}
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}